@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	background: radial-gradient(
		87.22% 205.79% at 11.28% 11.15%,
		#3a5da8 0%,
		rgba(144, 161, 206, 0.56) 82.67%,
		rgba(255, 203, 5, 0.55) 100%
	);
	background-repeat: no-repeat;
}
html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}
.page {
	width: 100vw;
	height: 100vh;
}
